@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(./assets/fonts/Oswald-VariableFont_wght.ttf);
}
body{
  margin: 0px;
  padding: 0px;
}
.logo{border: 4px solid #1297d4;
  border-top: none;
  border-bottom: none;
  border-left-color: black;background-color:#fff; width:150px; margin:0px 10px; border-bottom-left-radius:20px; border-bottom-right-radius:20px}
.formContainer{
  background: linear-gradient(to right, #1297d4, #85c6e4ce) !important;
  height:100%;
  position:fixed;
  overflow:auto;
  width:100%;
}
.formFooter{
  display: flex;
  justify-content: space-between;
}
.formText{
  color: #1397d4;
  cursor: pointer;
  transition: 0.5s;
  font-family: Poppins;
  font-size: 13px;
}
.formText:hover{
  color:#000
}
.MuiTypography-body1{
  font-size: 14px !important;
  font-family: Poppins !important;
}
.MuiOutlinedInput-input {
  font-family: Poppins !important;
}
.paper{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 8px 6px -6px grey;
}
.welcomeText{
  text-align: center;
  font-size: 30px;
  font-family: Oswald;
  color:#000;
  margin: 0px;
}
.avatar{
  background-color: #1896d2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.homeContent{
  background-color: #fff;
  width: 50%;
  margin: 10px auto 20px;
  padding:20px;
  border-radius: 0px 30px;
  border: 4px solid #1297d4;
  border-top: none;
  border-bottom: none;
  border-left-color: black;
}
.welcomeMessage{
  text-align: center;
  font-family: Poppins;
  font-size: 20;
  width: 70%;
  margin: 12px auto;
}
.divider{
  height: 6px;
  width: 60px;
  background-color:#000;
  margin: 10px auto;
}
.fetchDataBtnContainer{
  text-align: center;
}
.fetchDataBtn{
  margin: 10px auto;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  width: 200px;
  transition: 0.5s;
  background-color: #1297d4;
}
.logoutBtn{
  margin: 10px auto;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fetchDataBtn:hover{
  background: rgba(17, 17, 17, 0.925);
}
.logoutBtn:hover{
  background: #1297d4;
}
.reportContainer{
  background-color: #fff;
  border-radius: 0px 10px;
  margin: 10px 10px 20px;
  padding:10px;
  border: 4px solid #1297d4;
  border-top: none;
  border-bottom: none;
  border-left-color: black;
  overflow: auto;

}
table{
  border-collapse: collapse;
  width: 100%;
}
td{
  border:1px solid lightgray;
  font-family: Oswald;
  font-size: 18px;
  padding:10px;
  vertical-align: top;
  word-break: break-all;

}
table span{
  color:#1297d4;
  font-family: Poppins;
  margin-left: 3px;

}
td .tdRow{
  display: flex;
  margin: 0px;
  justify-content: space-between;
}
.tdRow>p{
  margin: 0px;
  width: 30%;
  margin-bottom: 30px;
  word-break: break-all;
}
.reportHead{
  font-family: Poppins;
  font-size: 22px;
  text-align: center;
  border-bottom: 2px solid #1297d4;
  width: 50%;
  margin: 10px auto 20px;
  padding: 10px;
}
.elementsContainer p{
  margin: 4px 0px;
  color: #1297d4;
  font-family: Poppins;
  font-size: 18px;
}
.elementsBox1{
  display:flex;
  justify-content:flex-end;
  margin-top:-25px;
  margin-right: 10px;
}
.elementsBox2{
  display:flex;
  justify-content:space-around;
  margin-top: 20px;
}
.b1{
  font-size: 9px !important;
  border:2px solid lightgrey;

    padding: 10px;
    border-radius: 0px 40px 40px 0px;
    border-left: none;
}
.b4{
  font-size: 9px !important;
  border:2px solid lightgrey;

    padding: 10px;
    border-radius: 40px 0px 0px 40px;
    border-right: none;
}

.b2{
  font-size: 9px !important;
  border-bottom:2px solid lightgrey;
    margin: 0px;
    width: 50px;
    text-align: center;
}
.b3{
  font-size: 9px !important;
  margin: 0px;
  text-align: center;
}
.shape1B1{
  margin:0px;
  border:2px solid lightgrey;
  font-size: 9px !important;
  border-top:0px;
  border-left: 0px;
  padding:6px;
  width: 50px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape1B2{
  font-size: 9px !important;
  margin:0px;
  border:2px solid lightgrey;
  border-bottom:0px;
  border-top: 0px;
  border-left: 0px;
  padding:6px;
  width: 50px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape1{
  display:flex;
  margin:0px 20px
}
.shape2{
  display:flex
}
.shape3{
  display:flex;
  align-items:center
}
.shape4{
  display:flex;
  align-items:center
}
@media only screen and (max-width: 730px) {
table{
  width: 1000px;
}
  .homeContent{
    width: 70%;
  }
.welcomeMessage{
  width: 90%;
}
.reportHead{
  width: 80%;
  font-size: 18px;
}
}
@media only screen and (max-width: 394px) {
  .formFooter{
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px !important;
  }
  .formText{
    margin-top: 2px
  }
  .homeContent{
    width: 80%;
  }
}
